.my-jobs-grid {
  .jobs-search {
      --background: #1e1e1e;
      border: solid 1px #3a3a3a;
      --box-shadow: none;
      border-radius: 10px;
  }

  .home-qr-code {
      margin: auto;
  }
}
.page-header-container {
  margin-top: 64px;
  ion-icon {
    font-size: 18px;
  }
  .job-segment-label {
    font-size: 12px;
    text-transform: capitalize;
    align-items: center;
  }
}

h3 {
  font-size: 24px;
  color: #ffffff; /* White text for dark theme */
  font-weight: bold;
  margin-bottom: 10px;
}


.search-bar {
  margin-bottom: 20px;
  background-color: #2a2a2a; /* Dark background for search bar */
  border: 1px solid #3a3a3a; /* Darker border for the search bar */
  border-radius: 10px;
}

ion-segment-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-jobs-message {
  font-style: italic;
  text-align: center;
}