.job-modal {
  --background: white;
  .status-text {
    span {
      font-weight: bold;
    }
  }
  .close-icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    opacity: 0.6;
  }
  .job-details {
    margin: 0;
    .job-details-header {
      gap: 5px;
    }
  }
  
  ion-header {
    box-shadow: none;
    border-bottom: solid 1px #d1c5c5;
  }
  .status-col {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .section-header {
    background-color: var(--primary-color);
    color: white;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 15px;
  }
  .job-details-card {
    margin: 0;
  }
  .job-details-content {
    .job-image {
      width: 100%;
      height: 200px;
      padding: 10px 0;
    }
    .checklist-title {
      color: var(--primary-color);
      font-weight: bold;
    }
    .checklist-btn {
      --background: var(--primary-color);
      color: #ffffff;
    }
  }
}