.common-button {
  --background: var(--primary-color);
  --background-activated: var(--primary-color);
  --background-focused: var(--primary-color);
  --background-hover: var(--secondary-color);
  --color: #ffffff;
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
  --box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

  &.ion-button-clear {
    --background: transparent;
    --color: var(--primary-color);
  }

  &.ion-button-outline {
    --background: transparent;
    --border-color: var(--primary-color);
    --border-width: 2px;
    --color: var(--primary-color);
  }

  &.ion-button-large {
    font-size: 1.25rem;
    height: 56px;
  }

  &.ion-button-small {
    font-size: 0.875rem;
    height: 40px;
  }

  .button-icon {
    margin-right: 8px;
    font-size: 1.2rem;
  }

  .button-label {
    font-weight: bold;
  }

  &:disabled {
    --background: #cccccc;
    --color: #666666;
    --box-shadow: none;
    cursor: not-allowed;
  }
}
