.qr-scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .qr-scanner-container video {
    max-width: 100%;
    border: 2px solid var(--ion-color-primary);
    border-radius: 10px;
  }  