.upload-images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px 0;

  .upload-placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px dashed var(--ion-color-medium);
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      cursor: pointer;
      position: relative;

      .upload-icon {
          font-size: 24px;
          color: var(--ion-color-primary);
          margin-bottom: 8px;
      }

      .upload-input {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
      }
  }

  .image-preview-grid {
      display: flex;
      gap: 10px;

      .image-preview-thumbnail {
          position: relative;
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 8px;

          .image-thumbnail {
              width: 100%;
              height: 100%;
              object-fit: cover;
              cursor: pointer;
          }
      }

      .extra-image-count {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--ion-color-light);
          border: 2px solid var(--ion-color-medium);
          border-radius: 8px;
          width: 60px;
          height: 60px;
          font-weight: bold;
          cursor: pointer;
      }
  }
}
