.create-work-order-btn {
  margin-top: 20px;
  --background: #007aff;
  color: #fff;
}

.ion-padding {
  --ion-background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}