.verification-options {

  h2 {
      font-weight: bold;
      margin-bottom: 16px;
      color: #ffffff;
  }

  .verification-card {
      background-color: var(--primary-color);
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      margin-bottom: 16px;
      border: 1px solid #2a2a40;

      .verification-card-content {
          padding: 16px 15px;
      }

      .icon-col {
          display: flex;
          justify-content: center;
          align-items: center;

          .icon-wrapper {
              width: 45px;
              height: 45px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 12px;
              color: #ffffff;

              &.qr-icon {
                  background: linear-gradient(135deg, #4d4dfc, #007bff);
              }

              &.location-icon {
                  background: linear-gradient(135deg, #28a745, #6dd400);
              }
          }
      }

      h3 {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          color: #ffffff;
          opacity: 0.8;
      }

      p {
          margin: 4px 0 0;
          font-size: 12px;
          color: #b3b3b3;
      }

      .toggle-col {
          display: flex;
          justify-content: center;
          align-items: center;

          .toggle {
              --background: #333344;
              --handle-background: var(--warning-color);
              --handle-background-checked: var(--warning-color);
          }
      }
  }
}